__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
env/
venv/

# IDE
*.swp
*.swo
*.log
.vscode/
.idea/

# pytest
.pytest_cache/
.coverage

# Docker
Dockerfile
.dockerignore

dist/
build/
.eggs/
*.egg-info/

.env
.env.*

# Ignore lint tools
pylint.log
lint.bat
Makefile
.pylintrc
