[MASTER]
ignore=.venv,migrations,manage.py,app/settings.py,tests
load-plugins=pylint_django

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    import-error,
    no-member,
    line-too-long,
    logging-fstring-interpolation

[DESIGN]
max-args=10
max-locals=25
max-returns=10
max-branches=15
max-statements=50

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized
reports=no

[TYPECHECK]
ignored-modules=django,celery

[IMPORTS]
known-third-party=rest_framework,celery,django
